
:root{
    /*Header*/
    --fondoHeader: #663300;
    --fondoEnlace: #bd8943;
    --fondoEnlaceActivo: #843c0c;
    --enlacesHover: #f0dccf;
    --colorTextEnlaces: #fff;
    
    /*Boton regresar*/
    --fondoBottonRegresar: #663300;

    /*Main general*/
    --fondoMain: #fbe5d6;
    --tituloh1: #663300;
    --fondoButtonNormal: #c55b13;

    /*Pagina compras*/
    --fondoTarjetas: #FFF;
    --fondoButtonTarjetas: #c55b13;
    --fondoButtonTarjetasHover: #b3510f;
    --colorTextTarjetas: black;
    --colorTextButtonTarjetas: #fff;    

    /*Registro animal*/
    --sombraFormulario: #663300;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--fondoMain);

}

*{
    padding: 0;
    margin: 0;
}


/*-------------------------------------------------------Header*/

.container-general{
    position: fixed;
    width: 100vw;
    height: 15vh;
    min-height: 58px;
    background-color: var(--fondoHeader);
    z-index: 999;
}

.flex-header{
    height: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.flex-header ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.flex-header ul li{
    margin: 1vw;
    padding: 2vh 2vw;
    border-radius: 20px;
    transition: transform .3s;
    background-color: var(--fondoEnlace) ;
}

.flex-header ul li.active {
    background-color: var(--fondoEnlaceActivo);
}

.flex-header ul li:hover{
    transform: scale(1.05);
}

.flex-header ul li:hover a{
    color: var(--enlacesHover);
}


.flex-header ul a{
    text-decoration: none;
    color: var(--colorTextEnlaces);
    font-size: 15px;
}


.flex-header .logo{
    margin-left: 13px;
    background-image: url(../imagenes/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(100%);
    width: 40%;
    height: 70%;
}

/*-----------------------------------------------------pie de pagina*/

.piePagina{
    margin: 25px auto 0px auto;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: auto;
    color: white;
    background-color: #663300;
}


/*-------------------------------------------------------Main*/


/*COMPRAS PAGE*/

.contenedor-general2{
    position: relative;
    top: 15vh;
}


.flex-main{
    height: 100%;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-main h1{
    margin-top: 20px;
    color: var(--tituloh1);
    font-size: 30px;
}

.flex-main .registrar-button{
    width: 100%;
    margin-bottom: 40px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
}

.flex-main .registrar-button a{
    border-radius: 10px;
    background-color: var(--fondoButtonNormal);
    padding: 11px;
    color: white; 
    text-decoration: none;
    transition: all .2s;
}

.grid-tarjeta{
    background-color: var(--fondoTarjetas);
    padding: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    grid-template-rows: 10px 100px;
    gap: 40px;
    color: var(--colorTextTarjetas);
}

.grid-tarjeta .fecha-tarjeta{
    grid-row: 1/2;
    grid-column: 1/-1;
}


.grid-tarjeta .fecha-tarjeta h4{
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.grid-tarjeta .fecha-tarjeta hr{
    opacity: 0.5;
}

.grid-tarjeta .imagen-tarjeta {
    padding-top: 5px;
    grid-row: 2/3;
    grid-column: 1/2;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.grid-tarjeta__descripcion{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-tarjeta__descripcion h3{
    font-size: 17px;
}

.grid-tarjeta__descripcion p{
    font-size: 14px;
}

.grid-tarjeta .distribuidor-tarjeta{
    grid-row: 2/3;
    grid-column: 3/4;
    text-align: center;
    margin: auto;
    font-size: 16px;
}

.grid-tarjeta a{
    grid-row: 2/3;
    grid-column: 4/5;
    margin: auto;
    background-color: var(--fondoButtonTarjetas);
    padding: 10px 30px;
    border-radius: 15px;
    color: var(--colorTextButtonTarjetas);
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    transition: all .2s;
}

.grid-tarjeta a:hover, .flex-main .registrar-button a:hover{
    transform: scale(1.009);
    background-color: var(--fondoButtonTarjetasHover);
}


/* -------------------------------------------------Registro animal*/



.contenedor-registroAnimal{
    height: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.buttonRegresar{
    margin: 10px;
    font-size: 24px;
    position: fixed;
    bottom: 0;
    text-decoration: none;
    border: 1px solid #3f1f00;
    background-color: var(--fondoBottonRegresar);
    padding: 15px 17px;
    border-radius: 100%;
    color: white;
    z-index: 10;
}

.buttonRegresar:hover{
    transform: scale(1.05);
}

.buttonRegresar:hover{
    color: var(--enlacesHover);
}



.contenedor-registroAnimal img{
    grid-column: 1/2;
    max-width: 70%; 
    margin: auto;
}

.contenedor-registroAnimal .contenedorFormulario-registroAnimal{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.contenedorFormulario-registroAnimal h2{
    margin: 20px 0;
    align-self: center;
    color: var(--tituloh1);
}


/*----------------------------------------------Registrar gastos*/

.contenedor-registroGastos{
    height: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
}

.contenedor-registroGastos .contenedorFormulario-registroGastos{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin: auto;
}

.contenedorFormulario-registroGastos h2{
    margin: 20px 0;
    align-self: center;
    color: var(--tituloh1);
}



/*----------------------------------------------FORMULARIOS GENERALES*/

 form{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 20px;
    box-shadow: -2px 2px 20px 0px var(--sombraFormulario);
}

 form span{
    color: red;
}


 form label{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 16px;
    letter-spacing: .5px;
}

 form input,  form select{
    padding: 10px;
    border: none;
    background-color: #f3efeb;
    outline: 1px solid #d6d2cfec;
    border-radius: 6px;
    font-size: 13px;
    letter-spacing: .2px;
    transition: outline 0.09s;
}

 form input:focus, form select:focus{
    outline: 2px solid #843c0cc0;
}

 form input:hover:not(:focus), form select:hover:not(:focus){
    outline: 2px solid #d6d2cfec;
}

 form button{
    margin-top: 25px;
    align-self: center;
    border-style: none;
    border-radius: 10px;
    background-color: var(--fondoButtonNormal);
    padding: 11px;
    color: white; 
    letter-spacing: .5px;
    text-decoration: none;
    transition: all .2s;
}

 form button:hover{
    transform: scale(1.009);
    background-color: var(--fondoButtonTarjetasHover);
}






@media screen and (max-height: 355px){
    .contenedor-general2{
        position: relative;
        top: 58px;
        background-color: var(--fondoMain);
    }
}

/*telefono*/
@media screen and (max-width:490px){
    /*HEADER*/
    .container-general{
        position: absolute;
        width: 100%;
        height: 15vh;
    }

    .flex-header{
        flex-direction: column;
        gap: 8px;
    }

    .flex-header ul li{
        margin-bottom: 2vw;
        padding: 1vh 2vw;
        transition: transform .3s;
        background-color: transparent;
    }

    .flex-header ul a{
        font-size: 13px;
    }


    .flex-header .logo{
        margin: 0;
        margin-top: 5px;
        width: 40%;
        height: 70%;
    }

    /*Pie de pagina*/
    .piePagina{
        font-size: 10px;
        padding: 15px;
    }

    /*Button Regresar*/
    .buttonRegresar{
        font-size: 20px;
    }
    

    /*COMPRAS PAGE*/
    .flex-main h1{
        margin: 15px;
        font-size: 25px;
    }

    .flex-main .registrar-button{
        width: 100%;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .grid-tarjeta{
        gap: 50px;
    }

    .grid-tarjeta .fecha-tarjeta{
        grid-row: 1/2;
        grid-column: 1/4;
    }

    .grid-tarjeta .fecha-tarjeta h4{
        font-size: 14px;
    }

    .grid-tarjeta a{
        grid-row: 1/2;
        grid-column: 4/5;
        padding: 2px 8px;
        font-size: 12px ;
    }

    .grid-tarjeta .imagen-tarjeta {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .grid-tarjeta__descripcion{
        grid-row: 2/3;
        grid-column: 3/4;
    }

    
    .grid-tarjeta__descripcion h3{
        font-size: 15px;
    }
    
    .grid-tarjeta__descripcion p{
        font-size: 13px;
    }

    .grid-tarjeta .distribuidor-tarjeta{
        grid-row: 2/3;
        grid-column: 4/5;
        font-size: 14px;
    }


    /*--------------------------------REGISTRO ANIMAL PAGE*/

    .contenedor-registroAnimal img{
        display: none;
    }

    .contenedor-registroAnimal .contenedorFormulario-registroAnimal{
        grid-column: 1/-1;
    }

    .contenedorFormulario-registroAnimal h2{
        font-size: 25px;
    }

    form label{
        font-size: 14px;
        letter-spacing: .1px;
    }
    
     form input,  form select{
        font-size: 12px;
        letter-spacing: .1px;
        transition: outline 0.09s;
    }

    form button{
        font-size: 12px;
        letter-spacing: .2px;
    }

}

/*Telefono mas ancho*/
@media screen and (min-width: 490px) and (max-width: 576px){
    /*Pie de pagina*/
    .piePagina{
        font-size: 12px;
        padding: 17px;
    }

    /*Button Regresar*/

    .buttonRegresar{
        font-size: 20px;
    }
    
        
    /*COMPRAS PAGE*/
    .contenedor-general2{
        top: 20vh;
    }

    .flex-main h1{
        margin: 0;
        font-size: 25px;
    }

    .flex-main .registrar-button{
        width: 100%;
        font-size: 13px;
        margin-bottom: 20px;
    }

    .grid-tarjeta__descripcion h3{
        font-size: 15px;
    }
    
    .grid-tarjeta__descripcion p{
        font-size: 13px;
    }

    .grid-tarjeta .distribuidor-tarjeta{
        font-size: 14px;
    }

    .grid-tarjeta a{
        font-size: 13px;
    }

    .grid-tarjeta .fecha-tarjeta h4{
        font-size: 14px;
    }
    
}

/*Tablets*/
@media screen and (min-width: 576px) and (max-width: 756px){
    /* HEADER*/
    .flex-header ul a{
        font-size: 13px;
    }

    /*Pie de pagina*/
    .piePagina{
        font-size: 10px;
        padding: 15px;
    }

 
        

    /*COMPRAS PAGE*/
    
    .flex-main h1{
        margin: 10px;
        color: var(--tituloh1);
        font-size: 25px;
        margin: 0;
        margin-top: 15px;
    }

    .flex-main .registrar-button{
        font-size: 12px;
        margin-bottom: 10px;
    }

    .grid-tarjeta .imagen-tarjeta {
        padding-top: 5px;
        grid-row: 2/3;
        grid-column: 1/2;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
    

    .grid-tarjeta__descripcion h3{
        font-size: 15px;
    }
    
    .grid-tarjeta__descripcion p{
        font-size: 13px;
    }
    
    .grid-tarjeta .distribuidor-tarjeta{
        grid-row: 2/3;
        grid-column: 3/4;
        text-align: center;
        margin: auto;
        font-size: 14px;
    }
    
    .grid-tarjeta a{
        padding: 10px 15px;
        font-size: 12px;
    }
    
}






