*{
    margin: 0px;
}

body{
    background: #fbe5d6; 
    /*background-image: url("/imagenes/fondoHuellas.png");*/
}

.linea_superior {
    position: absolute;
    background-color: #663300;
    height: 20vh;
    width: 100vw;
    z-index: -2;
}

.container_principal{
    display: flex;
    height: 100vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    background-color: #ffffff;
    border-radius: 80px;
    padding: 20px 80px;
    border-left: 3px solid rgba(102, 51, 0, 0.3);
    border-bottom: 3px solid rgba(102, 51, 0, 0.3);
    margin-top: 12vh;
}

.container__logo{
    background-image: url("../imagenes/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.container__formLogin form{
    display: flex;
    flex-direction: column;
}

.container__formLogin {
    grid-column: 1 / 2;
    grid-row: 2 / 4;

}

.container__formLogin input{
    border: 0px;
    padding-top: 25px;
    border-bottom: 0.2px solid rgb(100, 100 ,100); /*rgb(100, 100 ,100*/
    font-size: 17px;
}

.container__formLogin input:focus{
    border-bottom: 2px solid #843c0c; /*#c55a11*/
    outline: none;
}

/*
.container__formLogin input:valid{
    background-image: url('/imagenes/palomitaCorrecto.png');
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: right center; 
}
*/

.container__formLogin button{
    background-color: #843c0c;/*#c55a11*/
    color: #fff;
    border-radius: 5px;
    border: 2px solid #843c0c;
    padding: 10px;
    margin: 40px 0px;
    box-shadow: 4px 4px 4px #7c3709; /*#833d0e*/
    font-size: 18px;
    transition: background-color .5s;
}

.container__formLogin button:hover{
    background-color: #ffffff; /*#b95918*/
    transform: scale(1.02);
    color: #843c0c;
    font-weight: 550;
}

.container__formLogin .opciones{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.container__formLogin a{
    text-decoration: none;
    color: #9a6039; /*#c55a11*/
    transition: transform .5s;
}

.container__formLogin a:hover{
    color: #9a6039; /*#af4f0f*/
    transform: scale(1.2);
}

.container__formLogin span{
    color: #767172; /*#767172*/
}


@media screen and (max-width: 730px){

    .container{
        padding: 20px 40px;
    }
}


